<div class="span9 offset1">
<h2>Credentials</h2>

<ul>
  <li>Shipwire Login: <span><%= @shop.login %></span></li>
  <li>Shipwire Password: <span><%= @shop.password %></span></li>
  <li>Automatic Fulfillment: <span><%= @shop.automatic_fulfillment %></span></li>
</ul>

<%= link_to "Update", edit_setting_path(@shop), :class => 'btn btn-primary' %>
</div>
