<div class="span12">
  <div class="page-header" id="login-header">
    <h1>Install The Shipwire App for Shopify</h1>
    
    <%= form_tag login_path, :class => 'form-search' do %>
      <%= text_field_tag 'shop', nil, :placeholder => 'Shop URL' %>
      <%= submit_tag 'Install', :class => 'btn btn-primary btn-large' %>
    <% end %>
    <p class="muted">Don't have a Shopify store? <a href="http://shopify.com">Start a free trial</a></p>
  </div>
</div>