<div class="row">
  <div class="span12">
    <h1>Shipwire Fulfillments</h1>
    <hr>

    <% if @fulfillments.blank? %>
    <p>You have not made any fulfillments yet.</p>
    <% else %>

    <%= render :partial => 'fulfillments', :object => @fulfillments %>

    <% end %>
  </div>
</div>
