// Place all the styles related to the fulfillments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
  height: 750px;
}

#map_container{
  width:1000px;
  height:500px;
  margin: 10px auto;
}

#map_container img {
  max-width: none;
}