// Place all the styles related to the fulfillments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
  height: 750px;
}