/* SCSS
============================================================= */
/* Mixins */
@mixin rounded($px:3px) { -webkit-border-radius:$px; -moz-border-radius:$px; border-radius:$px; }
@mixin border-radius($tl,$tr,$br,$bl) { -webkit-border-radius:$tl $tr $br $bl; -moz-border-radius:$tl $tr $br $bl; border-radius:$tl $tr $br $bl; }
@mixin box-shadow($x:0,$y:1px,$spread:1px,$opac:0.15) { -moz-box-shadow:$x $y $spread rgba(0,0,0,$opac); -webkit-box-shadow:$x $y $spread rgba(0,0,0,$opac); box-shadow:$x $y $spread rgba(0,0,0,$opac); }
@mixin transition($properties:all,$timing:0.3s,$transition:ease-in-out) { -o-transition: $properties $timing $transition; -webkit-transition: $properties $timing $transition; -moz-transition: $properties $timing $transition; }
@mixin gradient($color1, $color2) { background-image:-o-linear-gradient($color1, $color2); background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, $color1),color-stop(1, $color2));  background-image: -moz-linear-gradient(center bottom,$color1 0%, $color2 100%); background-image: linear-gradient(top, $color1, $color2); }

/* Fonts */
$proxima: 'ProximaNovaRgRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$proxima-thin: 'ProximaNovaThThin', 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Colours */
$col-blue: #40a1c9;
$col-blue-hover: #2a8eb7;
$col-blue-hover-light: #86cce9;
$col-green: #96c944;
$col-light-green: #c4ec84;
$col-green-hover: #87b936;
$col-grey: #818181;
$col-grey-hover: #d2d2d2;
$col-light-grey: #c3c2c3;


/* BOOTSTRAP OVERRIDES
============================================================= */
html, body { background-color: #eee; }
body { padding-top: 40px;}

footer { margin-top: 7px; padding-top: 7px; color:#aaa;}

a { color:$col-blue;
  &:hover { color:$col-blue-hover; text-decoration:none;}
}

.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color:$col-blue !important;
  [class^="icon-"] { background-image: url('/assets/twitter/bootstrap/glyphicons-halflings-white.png');}
}

a.dropdown-toggle .caret { border-top:4px solid #40A1C9;}

.container {
  > footer p { text-align: center;}
  > .content { background-color: #fff; padding: 20px; margin: 0 -20px; @include border-radius(0,0,6px,6px); @include box-shadow(0,1px,2px);}
}

.page-header h1 { color:$col-blue;}

.content { min-height: 500px;}

[class^="icon-"] { background-image: url('/assets/twitter/bootstrap/glyphicons-halflings.png');}

.icon-white { background-image: url('/assets/twitter/bootstrap/glyphicons-halflings-white.png');}

.navbar {
  .brand { color: #fff; background:url('/assets/shipwire-shopify-logo.png') center center no-repeat; width:145px; height:20px; text-indent:-9999px;}
  .navbar-inner { background-image:none; background-color:#000; box-shadow:none;}
  .nav > li.active > a, .nav > li.active > a:hover { background-color: #222;}
  p a { color: #ffffff;}
}

.navbar .nav > li > a:hover, .navbar .dropdown-menu a:hover { background-color: #171717;}

.btn-navbar {
  background-color: #111;
  background-image: none;
  border-color:#222;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-navbar:hover { border-color:#333;}
.btn-navbar:before { opacity:0;}

input:focus, textarea:focus {
  border-color: rgba(64,161,201, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(64,161,201, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(64,161,201, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(64,161,201, 0.6);
}

input[type=text].input-large { height:20px;}

a.thumbnail:hover {
  border-color: rgba(64,161,201, 0.8);
  -webkit-box-shadow: 0 1px 4px rgba(64,161,201, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(64,161,201, 0.25);
  box-shadow: 0 1px 4px rgba(64,161,201, 0.25);
}

@media(max-width: 768px) {
  .container > .content { @include rounded(0);}
}

@media (max-width: 980px) {
  body { padding-top: 0px !important;}
  .navbar .nav.pull-right { display:none;}
  .navbar-fixed-top { margin:0;}
}


/* APP CSS
============================================================= */
/* General */
h1,h2,h3,h4,h5,h6,.brand { font-weight:normal;}
h2,h3,h4,h5,h6,h1 small { font-family: $proxima;}
h1, .brand { font-family: $proxima-thin;}

h1 { font-size: 40px; margin-top:20px; color:#40A1C9;}

.p0 { margin-bottom: 0!important; }
.p5 { margin-bottom: 5px!important; }
.p10 { margin-bottom: 10px!important; }
.p15 { margin-bottom: 15px!important; }
.p20 { margin-bottom: 20px!important; }
.p25 { margin-bottom: 25px!important; }
.p30 { margin-bottom: 30px!important; }
.p35 { margin-bottom: 35px!important; }
.p40 { margin-bottom: 40px!important; }
.p50 { margin-bottom: 50px!important; }
.p60 { margin-bottom: 60px!important; }
.p70 { margin-bottom: 70px!important; }

.polaroid { float:right; display:block; padding: 20px; margin: 0 0 50px 50px; border: 1px solid #ccc; border: 1px solid #fff; background: #f5f5f5;
  @include gradient(#f5f5f5,#f0f0f0);
  @include box-shadow(0,1px,5px,.5);
  @include rounded(4px);
}

#login-header { border-bottom:none; padding:30px 0 0; background:url('/assets/intro.jpg') no-repeat center 140px; text-align:center;
  h1 { padding-bottom:20px; margin-bottom:180px; border-bottom:1px dotted #ddd; display:inline-block;}
  input[type="text"] { padding:10px; width:440px;}
  .btn { width:140px; }
}

.pagination { text-align:center;
  ul { margin:0 auto; padding-top:14px;}
}

.fulfill_submit {
  select { margin: 0 30px 0 5px;}
}

.alert-success, .alert-error { position: fixed; bottom: 0; width: 100%; margin-bottom: 0 !important; text-align: center;}

#map_container { margin: 10px auto;
  img { max-width: none;}
}

.form-actions-holder { height:70px; max-height:70px; display:block;
  .well { padding: 14px 19px;}
}

select.disabled { opacity:.85;}

select, input, a { @include transition(all,.1s); }


/* Fonts -- Generated by Font Squirrel (http://www.fontsquirrel.com) on July 19, 2012 */
@font-face {
    font-family: 'ProximaNovaThThin';
    src: url('proximanova-thin-webfont.eot');
    src: url('proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-thin-webfont.woff') format('woff'),
         url('proximanova-thin-webfont.ttf') format('truetype'),
         url('proximanova-thin-webfont.svg#ProximaNovaThThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRgRegular';
    src: url('proximanova-reg-webfont.eot');
    src: url('proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-reg-webfont.woff') format('woff'),
         url('proximanova-reg-webfont.ttf') format('truetype'),
         url('proximanova-reg-webfont.svg#ProximaNovaRgRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}