// Place all the styles related to the variants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gray{
  color:gray;
}

#map_container{
  height:400px;
  width:400px;
}